h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
ul{
	/*list-style-type: none;*/
}
a{
	
}
a:LINK,a:VISITED,a:ACTIVE{
	/*color:#c0c0c0;*/
	text-decoration: none;
	
}
fieldset{
	border: 0px;
} 
input:focus,
select:focus{  
    border: 2px solid #999999;  
    background-color: white;  
} 
#contenedor{
	width: 980px;
	margin: 0px auto;
	clear: both;
	border: 1px solid gray;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	
	box-shadow: 0px 5px 20px #000;
	-moz-box-shadow: 0px 5px 20px #000;
	-webkit-box-shadow: 0px 5px 20px #000;
	
	
	float: none;
}
#cabezera{
	float: inherit;
}
#logo{
	height: 100px;
}
#navegacion{
	height : 30px;
	width:100%;
	background-color: #289a0e;
	
}
#menuNavegacion{
	width:100%;
	background: 0px center transparent;
}
#menuNavegacion ul{
	list-style-type: none
}

#menuNavegacion li{
	
	font-family: white;
	position:relative;
	float: left;
	width: auto;
	padding: 6px 15px 12px;
	
	
}
#menuNavegacion li a:LINK{
	text-decoration: none;
	
	
}
#menuNavegacion li a{
	text-decoration: none;
	color: white;
	font: bold 11px Arial,Helvetica,sans-serif;
	display: inline-block;
	text-transform: uppercase;
	
}
#menuNavegacion li.inicio{
	
}
#menuNavegacion li.ultimo{
	
}
#menuNavegacion li.log{
	float: right;
	margin-right: 15px;
}
.cuerpo{
	width:98%;
	margin-left: 10px;
	float: inherit;
}
.contenido{
	width:100%;
	/*border: 1px solid black;*/
	/*float: left;*/
	
}
.mapa_web{
	margin-top: 50px;
	padding-top: 150px;
	clear:both;
}
.licencias{
	margin-top: 50px;
	clear: both;
	padding-top: 40px;
	font-size: 12px;
	margin-left: 10px;
	width: 980px;
	margin: 0px auto;
}
.licencias p{
	display: inline-block;
	
}
