input{
	width: 90%;
}

.formulario{
	margin-top: 30px;
}
.formulario label{
	color: #289a0e;
	font-weight: bold;
}
.formulario .izquierda{
	width: 45%;
	float: left;
}
.formulario .izquierda .federado{
	display: none;
}
.formulario .derecha{
	width: 45%;
	float: right;
}
.formulario .derecha .precio{
		display: none;
}
.formulario .inferior{
	width: 95%;
	clear: both;
}
.formulario #boton_aceptar{
	width: 20%;
	clear: both;
}
.formulario #boton_cancelar{
	width: 20%;
	clear: both;
}
.formulario .inferior .botones{
	margin-left: 300px;	
}