
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#contenedor-index{
	width: 980px;
	
	margin: 0px auto;
	clear: both;
	border: 1px solid gray;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	
	box-shadow: 0px 5px 20px #000;
	-moz-box-shadow: 0px 5px 20px #000;
	-webkit-box-shadow: 0px 5px 20px #000;
	
	float: none;
}
#buscador{
	/*border: 1px solid black;*/
	height: 100%;
	float: left;
}
#inputs_buscador{
	width:100%;
	float: left;
	border: 0px;
}
#form-buscador label{
	font-size:15px;  
    margin-left:2px;
   
} 
#form-buscador input{
	width:200px;  
	height: 20px;
}
#form-buscador #inputs{
	margin-top: 20px;
	border: 0px;
}
#form-buscador input#boton-buscar{
	width:150px;  
	height: 30px;
	margin-left: 20px;
}   
#form-buscador select{  
    width:200px;  
    /*border: 1px solid #CEE1E8;  */
    margin-left:2px;  
    padding:4px;  
   
}  
#form-buscador input:focus,   
#form-buscador select:focus{  
    border: 2px solid #AFCDD8;  
    background-color: #EBF2F4;  
}  