h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.contenido_eventos{
	width: 100%;
	height:100px;
	float: left;
	margin-top: 30px;
}
.filtro{
	width:20%;
	height:100px;
	float: left;
	border: 1px solid black;
}
.eventos{
	width:70%;
	height:100px;
	
	float: left;
}
.evento{
	width: 100%;
	height: 70px;
	
	float: inherit;
	border: 1px solid #777777;
}
.evento img{
	float: left;
	height: 90%;
	width: 20%;
	margin-top: 3px;
	margin-left: 3px;
}
.evento_datos{
	float: left;
	margin-left: 20px;
	text-align: left;
	width: 55%;
}
.titulo{
	margin-top: 5px;
	margin-bottom: 5px;
}
.titulo h5{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1em;
	font-weight: bold;
  	color: #289a0e;
	text-align: center;
}
.descripcion{
	margin-top: 0px;
}
.descripcion span{
	margin-top: 0px;
}
.inscribirse{
	border-left: 1px solid #777777;
	width: 20%;
	height: 100%;
	float: right;
}
.inscribirse input{
	margin-left: 25px;
	margin-top: 10px;
	size: auto;
}
.fecha{
	text-align: center;
	margin-top: 5px;
}

