h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.contenido_eventos{
	width: 100%;
	height:100px;
	/*float: left;*/
	clear: both;
	margin-top: 80px;
}
#buscador{
	/*border: 1px solid black;*/
	height: 100%;
	float: left;
}
#inputs_buscador{
	width:100%;
	float: left;
	border: 0px;
}
#form-buscador label{
	font-size:15px;  
    margin-left:2px;
   
} 
#form-buscador input{
	width:200px;  
	height: 20px;
}
#form-buscador input#boton-buscar{
	width:150px;  
	height: 30px;
	margin-left: 20px;
}   
#form-buscador select{  
    width:200px;  
    /*border: 1px solid #CEE1E8;  */
    margin-left:2px;  
    padding:4px;  
   
}  
#form-buscador input:focus,   
#form-buscador select:focus{  
    border: 2px solid #AFCDD8;  
    background-color: #EBF2F4;  
}  
.filtro{
	width:20%;
	
	float: left;
	border: 1px solid #777777;
	
	
}
.filtro p{
	font-size: 1em;
	font-weight: bold;
  	color: black;
  	margin-left: 2px;
}
.filtro ul p{
	font-size: 1em;
	font-weight: bold;
  	color: #289a0e;
 
}
.filtro ul{
	
}
.filtro_seccion{
	padding-left: 0px;
}

.eventos{
	width:70%;
	border: 1px solid #777777;
	
	float: left;
	margin-left: 3px;
}
.evento{
	width: 100%;
	height: 70px;
	
	border-bottom: 1px solid #777777;
	
	clear: both;
}
.evento_izquierda{
	float: left;
	height: 90%;
	width: 20%;
	margin-top: 3px;
	margin-left: 3px;
}
.evento_izquierda img{
	height: 100%;
	width: 100%;
}
.evento_centro{
	float: left;
	margin-left: 20px;
	text-align: left;
	width: 55%;
}
.titulo{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.titulo span{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1em;
	font-weight: bold;
  	color: #289a0e;
	text-align: center;
}
.descripcion{
	margin-top: 0px;
}
.descripcion span{
	margin-top: 0px;
}
.evento_derecha{
	border-left: 1px solid #777777;
	width: 20%;
	height: 100%;
	float: right;
}
.evento_derecha input{
	
}
.fecha{
	text-align: center;
	margin-top: 5px;
}
.inputs_evento{
	margin-left: 13px;
	margin-top: 5px;
	
	width:100%;
	border: 0px;
}
.inputs_evento input:focus{  
    border: 2px solid #AFCDD8;  
    background-color: #EBF2F4;  
}


