/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
h2 {
  font-size: 1.6em;
  font-weight: bold;
  color: #777777;
  text-align: left;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #777777;
  text-align: left;
}
.main{
	width: 900px;
	margin: 0px auto;
	clear: both;
	border: 1px solid gray;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	box-shadow: 0px 5px 20px rgb(0, 0, 0);
}
.cabezera {
    height: 100px;
    margin-left: 10px;
}.cuerpo {
    margin-left: 10px;
}
.proyecto {
}
.escrito {
}



